@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poiret One', cursive;
  margin: 0;
  width: 100%;
  height: auto;
  background: #fff;
  background-position: center;
  background-size: cover;

  header {
    background-color: #27bffc;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  footer {
    background-color: #27bffc;
    clear: both;
    color: #fff;
    font-size: 24px;
    margin-top: 80vh;
    padding: 20px;
    text-align: center;
  }
}
